
.save-btn{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    background-color:   rgb(220, 95, 0);
    border-color: rgb(220, 95, 0);;
    
}

.save-btn:hover{
    background-color: rgba(220, 95, 0, 0.822);
    box-shadow: 0 0 10px 10px rgb(72, 169, 166)
}

.fullFormContainer {border-radius: 15px;
   
    
}

.accountSettingsTitle {
    font-family: fantasy;
    font-size: 4rem; 
    text-decoration-line:  rgba(220, 95, 0, 0.822);   
}

.fullDiv {
    background-color: blanchedalmond;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    
}

.userSettingsDiv {
    background-color: white; 
    border-radius: 20px;

}

.myPetsDiv{
    background-color: white;
    border-radius: 20px;
}

.profileSettings{
    background-color: white;
    border-radius: 20px;
}


