
.save-btn{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    background-color:   rgb(220, 95, 0);
    border-color: rgb(220, 95, 0);;
    
}

.save-btn:hover{
    background-color: rgba(220, 95, 0, 0.822);
    box-shadow: 0 0 10px 10px rgb(72, 169, 166)
}

.fullFormContainer {border-radius: 15px;
   
    
}

.accountSettingsTitle {
    font-family: fantasy;
    font-size: 4rem; 
    text-decoration-line:  rgba(220, 95, 0, 0.822);   
}

.fullDiv {
    background-color: blanchedalmond;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    
}

.userSettingsDiv {
    background-color: white; 
    border-radius: 20px;

}

.myPetsDiv{
    background-color: white;
    border-radius: 20px;
}

.legalandprivacy{
    background-color: white;
    border-radius: 20px;
}

.accountManagement{
    background-color: white;
    border-radius: 20px;
}

.exitButton{
    background-color:   rgb(220, 95, 0);
    border-color: rgb(220, 95, 0);;
    margin-right: 15px;
 
}

.exitButton:hover{
    background-color: rgba(220, 95, 0, 0.822);
    box-shadow: 0 0 10px 10px rgb(72, 169, 166)
}

.input-wrapper {
    width: 1000px; 
    max-width: 100%; 
}

.email-input, .password-input {
    width: 100%;
    box-sizing: border-box;
}
