.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 10px;
    margin-left: 55px;    
}

@keyframes moveIt {
    from {background-position: bottom left;}
    to {background-position: top right;}
}

.search_Cards { 
    animation: moveIt 30s linear infinite;
}

.card {
    position: relative;
    border: 1px solid rgb(104, 109, 118);
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    height: 100% !important;
    background-color: #f5f5dc;
    overflow: hidden; 
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    cursor: pointer;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; 
    padding-bottom: 1rem; 
}

.card-text {
    margin-bottom: 0px;
    margin-top: 0px;
}

.card-buttons {
    position: absolute;
    bottom: 10px; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem; 
}

.learnMoreBtn {
    background-color: rgb(72, 169, 166);
    height: 35px;
    width: 110px;
}
.learnMoreBtn:hover {
    background-color: rgb(41, 99, 97);
}

.bredFor {
    margin: 0 10px 50px 10px;
}

.card:hover {
    border: 2px solid darkgray;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}



.homeHeader {
    background: linear-gradient(to bottom, rgb(104, 109, 118), rgb(220, 95, 0));
    color: white;
    pointer-events: none;
    padding-bottom: 5px;
}

.headerImg {
    margin: 50px 0 50px 0;
    height: auto;
    width: auto;
}

.headerCard-title{

    margin-top: 30px;
    margin-bottom: 15px;
    width: 85%;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-family: "Bodoni Moda SC";
    letter-spacing: 2px;
    padding-left: 10%;
    padding-right: 10%;
}

.headerCard-text {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 85%;
}

.paginate ul {
    margin-bottom: 0;
    padding-bottom: 20px;
}