.fulldisplay{
   background-color: blanchedalmond;
   padding-bottom: 200px;
}
.h1,.signupTitle{
    text-decoration: underline;
    text-decoration-color:   rgba(220, 95, 0, 0.822);
    
    
}
.welcome{
    margin-top: 82.5px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color:  rgb(238, 174, 125);;
    padding-bottom: 500px;
   

}

.welcometext{
    margin-top: 50%;
    margin-right: 30px;
    margin-left: 30px;
}

.loginDiv{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
  

}
