.fulldisplay{
   background-color: blanchedalmond;
   padding-bottom: 50px;
   
}

.fullloginform{
    
   
}
.h1,.loginTitle{
 
    
    
}
.welcome{
    margin-top: 3%;
    padding-bottom: 100px;
    margin-left: 0px;
   

}

.welcometext{
    margin-top: 15%;
    margin-left: 00px;
    width: 70%;
}

.loginDiv{
    
    border-radius: 30px;
    border:80%;
    background-color: white;
    margin-bottom: 200px;
    margin-top: 110px;
    margin-right: 100px;
   
   
  

}
