.nav-container{
    background-color: rgb(104, 109, 118);
}

li {
    list-style-type: none;
}

ul {
    margin: 0
}

.nav-container {
    margin: 0;
}

.navbar {
    width: 100%;
    margin-right: 125rem;
    background-color:rgb(104, 109, 118);
}
.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-menu.show {
    margin-left: -100px; 
    background-color:rgb(55, 58, 64);
}

.logo-div {
    display: flex; 
    align-items: center; 
}

.logo-img {
    max-height: 100%; 
    width: auto; 
}

.logout-btn:hover {
    background-color: rgb(133, 1, 1) !important;
    color: rgb(242, 243, 247)  !important;
}
.dropdown-item {
    color: rgb(220, 95, 0);
}

.dropdown-item:hover {
    background-color: rgb(72, 169, 166);
}

.join-now {
    background-color:  rgb(220, 95, 0);
    border-radius: 10%;   
}
.join-now:hover {
    background-color: rgb(72, 169, 166);
}

.join-now-btn{
    margin-right: 0;
}

#navbarDropdownMenuLink::after {
    color: rgb(55, 58, 64);
}