.pet-registration {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
.save-button {
    padding: 10px 100px;
    font-weight: bold;
   
}

/* gender && Spayed or Neutered buttons*/
.gender-buttons, .spayed-neutered {
    /* height: 70px;
    width: 350px; */
    /* border: 1px solid lightgray;
    border-radius: 5px; */
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
}

.weight-buttons {
    /* border: 1px solid lightgray;
    border-radius: 5px; */
    /* display: flex; */
    justify-content: center;
    align-items: flex-end;
}