.petRegistrationForm {
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.saveButton {
    margin-top: 90px;
    font-weight: bold;
    padding: 10px 80px;
    background-color: rgb(9, 139, 148);
    border-color:rgb(9, 139, 148);
}

.saveButton:hover {
    background-color: rgba(9, 139, 148, 0.747);
}

.cancelButton {
    margin-top: 90px;
    padding: 10px 70px;
    font-weight: bold;
}