@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.privatePageContainer {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 230px;
}

.privatePageContainer .card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 400px;
    background-color: white;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.privatePageContainer .card-header {
    background: linear-gradient(135deg,  rgba(104, 109, 118), rgba(231, 124, 41), rgb(72, 169, 166));
    height: 100px;
    width: 100%;
}

.privatePageContainer .card-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privatePageContainer .card img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin-top: -40px;
    border: 3px solid white;
    background-color: white;
}

.privatePageContainer .card h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.privatePageContainer .card p {
    color: gray;
    margin: 5px 0;
}

.privatePageContainer .card button {
    background-color: rgb(72, 169, 166);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.privatePageContainer .card button:hover {
    background-color:rgb(72, 169, 166);
}

.privatePageContainer .getStartedTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
}

.privatePageContainer .addFirstPet {
    background-color: rgb(72, 169, 166);
    border: none;
    color: #fff;
}

.privatePageContainer .edit-button {
    position: absolute;
    top: 90px;
    left: 38px;
    cursor: pointer;
    color:#fff;
}

.privatePageContainer .add-pet {
    color:rgb(72, 169, 166);
}

.privatePageContainer .switch-button {
    color:rgb(72, 169, 166)
}
.privatePageContainer .right-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
}

.privatePageContainer .profile-picture {
    margin-top: 60px;
}

.privatePageContainer .dog-info {
    display: flex;
    justify-content:space-between;
    text-align: center;
}

.dog-age,
.dog-breed,
.dog-gender,
.dog-weight {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 70px;
    margin-top: 20px;
}

.dog-age-title,
.dog-breed-title,
.dog-gender-title,
.dog-weight-title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 80px;
    border: 3px gray;
    color: rgb(72, 169, 166);
    font-weight:bold;
    font-size: 1.3rem;
}

.privatePageContainer .vertical-line {
    width: 0px;
    border-left: 4px solid lightgray;
    border-radius: 2px;
}

.privatePageContainer .header {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    height: 150px;
    background: linear-gradient(135deg, rgba(104, 109, 118), rgba(231, 124, 41), rgb(72, 169, 166));
    transition: all 0.08s linear;
}

.privatePageContainer .avatarPlaceholder {
    border-radius: 50%;
    width: 230px;
    height: 230px;
    border: 3px solid white;
    background-color: white;
    pointer-events: none;
}

.dogTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:rgb(231, 124, 41)
}