.signupFullDisplay {
    background-image: url('https://images.unsplash.com/photo-1548199973-03cce0bbc87b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 50px;
    margin:0;
}

.welcome {
    margin-top: 3%;
}

.welcometext img {
    justify-content: center;
    text-align: center;
    margin-top: 10%;
    margin-left: 00px;
    margin-right: 50%;
    height:500px;
    width: 500px;
    pointer-events: none;
}

.signupDiv {
    border-radius: 30px;
    border: 80%;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 110px;
    
}

.signup-btn {
    background-color: rgb(72, 169, 166);
    color: white;
}

.signup-btn:hover {
    background-color: rgb(25, 78, 77);
    color: white;
}

.signUpTitle, .pup-div, .email, .password{
    pointer-events: none;
}